

body{
	
	width:100%;
	height:100%;
	float:left;
	position : fixed;

	}

.navbar a,
.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
	
}

.navbar {
   min-height: 40px !important ;
}
.navbar-nav {
background : #DCDCDC;
width : 80%;
margin-left : 153px;;
margin-right : 50px;
padding : -50px;

}

.navbar-nav >li > a {
	color : black;
	  display: inline-block;
}

#homeicon {
	
}
/* Popup container - can be anything you want */



.serviceBox{
	position:relative;
	padding: 0px 4px;
	margin:0;
	color:black;
	background:#DCDCDC; /* default background for browsers without gradient support */
  /* css3 */
	max-width : max-content;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	margin-left: -80px;
}
.serviceBox:after {
  content:"";
  position:absolute;
  top:-40px;
  left:150px;
  border-width:0px 20px 40px 0px;
  border-style:solid;
  border-color:transparent #DCDCDC;
  /* reduce the damage in FF3.0 */
  display:block;
  max-width : max-content;
}







.example-right {
	position:relative;
	padding:15px 30px;
	margin:0;
	color:#fff;
	background:#485461ed; 
	max-width : max-content;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	margin-left: -80px;
}




/* creates the triangle */
.example-right:after {
  content:"";
  position:absolute;
  bottom:-40px;
  left:50px;
  border-width:0 20px 40px 0px;
  border-style:solid;
  border-color:transparent #485461ed;
  /* reduce the damage in FF3.0 */
  display:block;
  max-width : max-content;
}

/*Circular Speech Bubble*/
.speech-bubble {
  background: #485461ed;
  border-radius: 100%;
  color: #fff;
  display: inline-block;
  padding: 0.5em 1.8em;
  position: relative;
  margin-top: 40px;
  margin-left: 34px;
}
.speech-bubble:before {
 content:"";
  position:absolute;
  bottom:-37px;
  left:35px;
  border-width:0 20px 40px 0px;
  border-style:solid;
  border-color:transparent #485461ed;
}

/*CALENDER STYLING */
.claendiv{
	margin-left: 3px;
	padding:0;
	box-sizing:border-box;

}
.calenderContainer{
	width :100%;
	height :100%;

	color :black;
	display:flex;
	justify-content:content;
	align-items :center;
}
.calendar{
	width:33rem;
	height:52;
	background-color :gray;
	box-shadow: 0.05rem 3rem rgba(0,0,0,0,4);
}
.month{
	width:100%;
	height: 4rem;
	background-color : #485461ed;;
	display:flex;
	justify-content : space-between;
	align-items : center;
	padding:02rem;
	text-align:center;
	text-shadow :0 0.3rem 5rem rgba(0,0,0,0,0.5);
	
}
.month i {
	font-size : 2.5rem;
	cursor:pointer;
}
.month h1{
	font-size : 1.5rem;
	font-weight : 400 ;
	text-transform:uppercase;
	letter-spacing :0.2rem;
	
	margin-left: 80px;
	color:#fff;
	margin-left: -60px;
	margin-bottom: -20px;
}
.month p{
	font-size:1.6rem;
	margin-left: 80px;
	color:#fff
}
.weekdays {
	width :100%;
	padding: 0 0.4rem;
	display:flex;
	align-items : center;
	background-color: #DCDCDC;
}
.weekdays div{
	font-weight:400;
	letter-spacing: 0.1rem;
	width: 47px;
	display: flex;
	justify-content:center;
	align-items:center;
	text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
	
}
.days{
	width:100%;
	display:flex;
	flex-wrap: wrap;
	padding:0.2rem;
	background-color: #DCDCDC;
}
.days div{
	font-size:1.4rem;
	width:46px;
	height: 3rem; 
	display:flex;
	justify-content:center;
	align-items:center;
	text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
	transition:background-colorc 0.2s;
	
}

.days div:hover:not(.today) {
  background-color: #DCDCDC;
  border: 0.2rem solid #777;
  cursor: pointer;
}

 
.prev-date,
.next-date {
	opacity:0.5;
}

.checked {
  color: #FFCF00;
}

.image_slider {

	display: flex;
	margin-left: 178px;
	margin-top: -140px;
	width: 80rem;
}


/*Offer Box Starts Here*/
.burst {
    background: #DCDCDC;
    display:inline-block;
    width: 8.8em;
    height: 6.4em;
    padding-top:2.1em;
    padding-bottom: 0;
    position: relative;
    text-align: center;   
    color:black;
	margin: -67px 0px -75px 473px;
  
	
}
.burst:before, 
.burst:after {
     content: "";
    position:absolute;
    top: 0;
    left: 0;
    height: 8.8em;
    width: 8.8em;
    background: #DCDCDC;
  	z-index:-2;
    -webkit-box-shadow: 0 1em -.25em #DCDCDC;
	-moz-box-shadow: 0 0 1em -.25em  #DCDCDC;
	box-shadow: 0 0 1em -.25em #DCDCDC;
}
.burst:before {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
}
.burst:after {
	-webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
}




@-webkit-keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}	
}

@-moz-keyframes spin {
	0%  {-moz-transform: rotate(0deg);}
	100% {-moz-transform: rotate(360deg);}	


}
/*Offer Box Ends Here*/



.Rate {
	margin-top : 5px;
	border-width:0 20px 40px 0px;
	border: 1px solid black;
	max-width : max-content;
	padding: 5px 15px 5px 15px;
	box-shadow:0px 3px 3px gray;
	
}

.fastBackward {
	border-width:0 20px 40px 0px;
	border: 1px solid #485461ed;
	background-color : #DCDCDC;
	padding: 5px 15px 5px 15px;

}
.digit_slider {
	border-width:0 20px 40px 0px;
	border: 1px solid #485461ed;
	background-color : #DCDCDC;
	padding: 5px 15px 5px 15px;
	margin: 0 307px 0 370px;
	box-shadow:0px 3px 3px gray;
}
#subscribeLabel {
	margin: 23px 0px 12px 44px;
	border-width:0 20px 40px 0px;
	border: 1px solid black;
	max-width : max-content;
	padding: 5px 15px 5px 15px;
	box-shadow:0px 3px 3px gray;
	background-color : #485461ed;
	color :#fff;
}
.newsletterBox {
	margin: -28px 0px 0px -21px;
	background-color: #DCDCDC;
	padding: 32px 16px 0px 19px;
	border: 1px solid #888;
	width: 100%;
	max-width: max-content;
}
.active 
{
	background-color:#DCDCDC;
}
#email
{
	padding-right: 40px;
}



.progress {
	  height: 29px;
}
.progress-bar {
  background-color: #485461ed;
  border-radius: 4px;

}
.progress1
{
	height: 29px;
	background-color: #800000;
	border-radius: 4px;
}
.progress2 
{
	height: 29px;
	background-color: #485461ed;
	border-radius: 4px;
}
.progress3
{
	height: 29px;
	background-color: green;
	border-radius: 4px;
}
.image_slider >li> a {
	display: block;
    padding: 10px 15px;
}